n8n-ev-pipeline/workflow-resumen-semanal.json
{
  "name": "EV News - Resumen Semanal + Carpincho Video → LinkedIn",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": 1,
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "cron-weekly",
      "name": "Lunes 8am - Trigger Semanal",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "url": "https://electrek.co/feed/",
        "options": {}
      },
      "id": "rss-electrek",
      "name": "RSS Electrek",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [250, 100]
    },
    {
      "parameters": {
        "url": "https://insideevs.com/rss/news/all/",
        "options": {}
      },
      "id": "rss-insideevs",
      "name": "RSS InsideEVs",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://cleantechnica.com/feed/",
        "options": {}
      },
      "id": "rss-cleantechnica",
      "name": "RSS CleanTechnica",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-feeds",
      "name": "Merge Todas las Fuentes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "functionCode": "// Filtrar artículos de los últimos 7 días y limitar a 20\nconst now = new Date();\nconst weekAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n\nconst filtered = items\n  .filter(item => {\n    const pubDate = new Date(item.json.pubDate || item.json.isoDate);\n    return pubDate >= weekAgo;\n  })\n  .sort((a, b) => {\n    const dateA = new Date(a.json.pubDate || a.json.isoDate);\n    const dateB = new Date(b.json.pubDate || b.json.isoDate);\n    return dateB - dateA;\n  })\n  .slice(0, 20);\n\n// Crear resumen de títulos y contenido\nconst articlesSummary = filtered.map((item, i) => {\n  const title = item.json.title || 'Sin título';\n  const content = (item.json.contentSnippet || item.json.content || '').substring(0, 300);\n  const source = item.json.creator || item.json.link?.match(/https?:\\/\\/([^/]+)/)?.[1] || 'Fuente desconocida';\n  const link = item.json.link || '';\n  return `${i+1}. [${source}] ${title}\\n   ${content}\\n   Link: ${link}`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    articlesSummary,\n    articleCount: filtered.length,\n    weekStart: weekAgo.toISOString().split('T')[0],\n    weekEnd: now.toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "filter-and-prepare",
      "name": "Filtrar Últimos 7 Días",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "claude-sonnet-4-5-20250514",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Sos un experto en movilidad eléctrica y creador de contenido para LinkedIn en español.\n\nAcá tenés las noticias de la semana ({{$json.weekStart}} a {{$json.weekEnd}}):\n\n{{$json.articlesSummary}}\n\nGenerá DOS outputs separados por ===SEPARADOR===:\n\n**OUTPUT 1 - POST DE LINKEDIN:**\nCreá un post atractivo para LinkedIn en español que resuma las noticias más relevantes de la semana sobre movilidad eléctrica. El post debe:\n- Empezar con un hook llamativo\n- Tener entre 800-1200 caracteres\n- Usar emojis moderadamente\n- Incluir 3-5 hashtags relevantes al final\n- Tener un tono profesional pero cercano\n- Mencionar 3-5 noticias clave con títulos resumidos\n\n**OUTPUT 2 - SCRIPT DEL CARPINCHO (después de ===SEPARADOR===):**\nCreá un script cortito (máximo 30 segundos de lectura, ~75 palabras) donde un carpincho simpático presenta los títulos de las noticias más importantes. El tono debe ser:\n- Divertido y relajado (es un carpincho después de todo)\n- En español rioplatense\n- Solo mencionar los títulos, no entrar en detalle\n- Empezar con algo tipo 'Hola, soy Capincho y estas son las noticias...'\n- Cerrar con algo gracioso"
            }
          ]
        },
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "id": "claude-summary",
      "name": "Claude - Generar Resumen + Script",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [950, 300],
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Separar el post de LinkedIn del script del carpincho\nconst fullResponse = $input.first().json.response || $input.first().json.text || $input.first().json.message?.content || '';\nconst parts = fullResponse.split('===SEPARADOR===');\n\nconst linkedinPost = (parts[0] || '').trim();\nconst carpinchoScript = (parts[1] || '').trim();\n\nreturn [{\n  json: {\n    linkedinPost,\n    carpinchoScript,\n    weekStart: $('Filtrar Últimos 7 Días').first().json.weekStart,\n    weekEnd: $('Filtrar Últimos 7 Días').first().json.weekEnd\n  }\n}];"
      },
      "id": "split-outputs",
      "name": "Separar Post y Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.d-id.com/talks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_url\": \"{{$credentials.carpinchoImageUrl}}\",\n  \"script\": {\n    \"type\": \"text\",\n    \"input\": \"{{$json.carpinchoScript}}\",\n    \"provider\": {\n      \"type\": \"microsoft\",\n      \"voice_id\": \"es-AR-TomasNeural\"\n    }\n  },\n  \"config\": {\n    \"result_format\": \"mp4\"\n  }\n}",
        "options": {}
      },
      "id": "did-create-video",
      "name": "D-ID - Crear Video Carpincho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 450],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DID_CREDENTIAL_ID",
          "name": "D-ID API Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "wait-video",
      "name": "Esperar 15s (Video Processing)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1700, 450]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.d-id.com/talks/{{$('D-ID - Crear Video Carpincho').first().json.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "did-get-video",
      "name": "D-ID - Obtener Video URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1950, 450],
      "credentials": {
        "httpHeaderAuth": {
          "id": "DID_CREDENTIAL_ID",
          "name": "D-ID API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json.result_url}}",
        "options": {}
      },
      "id": "download-video",
      "name": "Descargar Video MP4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 450],
      "options": {
        "response": {
          "response": {
            "responseFormat": "file"
          }
        }
      }
    },
    {
      "parameters": {
        "resource": "post",
        "person": "={{$credentials.linkedinPersonUrn}}",
        "text": "={{$('Separar Post y Script').first().json.linkedinPost}}",
        "mediaCategory": "video",
        "additionalFields": {}
      },
      "id": "linkedin-post",
      "name": "LinkedIn - Publicar Post con Video",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [2450, 300],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "LINKEDIN_CREDENTIAL_ID",
          "name": "LinkedIn OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "post",
        "person": "={{$credentials.linkedinPersonUrn}}",
        "text": "={{$('Separar Post y Script').first().json.linkedinPost}}",
        "additionalFields": {}
      },
      "id": "linkedin-post-text-only",
      "name": "LinkedIn - Post Solo Texto (Fallback)",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [2450, 550],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "LINKEDIN_CREDENTIAL_ID",
          "name": "LinkedIn OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Lunes 8am - Trigger Semanal": {
      "main": [
        [
          { "node": "RSS Electrek", "type": "main", "index": 0 },
          { "node": "RSS InsideEVs", "type": "main", "index": 0 },
          { "node": "RSS CleanTechnica", "type": "main", "index": 0 }
        ]
      ]
    },
    "RSS Electrek": {
      "main": [
        [{ "node": "Merge Todas las Fuentes", "type": "main", "index": 0 }]
      ]
    },
    "RSS InsideEVs": {
      "main": [
        [{ "node": "Merge Todas las Fuentes", "type": "main", "index": 1 }]
      ]
    },
    "RSS CleanTechnica": {
      "main": [
        [{ "node": "Merge Todas las Fuentes", "type": "main", "index": 2 }]
      ]
    },
    "Merge Todas las Fuentes": {
      "main": [
        [{ "node": "Filtrar Últimos 7 Días", "type": "main", "index": 0 }]
      ]
    },
    "Filtrar Últimos 7 Días": {
      "main": [
        [{ "node": "Claude - Generar Resumen + Script", "type": "main", "index": 0 }]
      ]
    },
    "Claude - Generar Resumen + Script": {
      "main": [
        [{ "node": "Separar Post y Script", "type": "main", "index": 0 }]
      ]
    },
    "Separar Post y Script": {
      "main": [
        [
          { "node": "D-ID - Crear Video Carpincho", "type": "main", "index": 0 },
          { "node": "LinkedIn - Post Solo Texto (Fallback)", "type": "main", "index": 0 }
        ]
      ]
    },
    "D-ID - Crear Video Carpincho": {
      "main": [
        [{ "node": "Esperar 15s (Video Processing)", "type": "main", "index": 0 }]
      ]
    },
    "Esperar 15s (Video Processing)": {
      "main": [
        [{ "node": "D-ID - Obtener Video URL", "type": "main", "index": 0 }]
      ]
    },
    "D-ID - Obtener Video URL": {
      "main": [
        [{ "node": "Descargar Video MP4", "type": "main", "index": 0 }]
      ]
    },
    "Descargar Video MP4": {
      "main": [
        [{ "node": "LinkedIn - Publicar Post con Video", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    { "name": "EV News" },
    { "name": "LinkedIn" },
    { "name": "Carpincho" }
  ]
}
